<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Add/Update Wake up Sleep time (24 hr format)</h1>
            </div>
            <br>

            <form name="addwakesleep" method="POST">

                <div class="form-row">
                    <label for="uniqueidentifier">Please enter your email username. </label>
                    <input class="form-control" type="text" placeholder="Email username" id="uniqueidentifier" name="uniqueidentifier">
                </div>
                <p id="error-uniqueidentifier"></p>
                <br>

                <div class="form-row">
                    <label for="phonenumber">Please enter your phone number. eg. 0123456789 </label>
                    <input class="form-control" type="text" placeholder="Phone number" id="phonenumber" name="phonenumber">
                </div>
                <p id="error-phonenumber"></p>
                
                <br>
                Phone service provider:
                <br>
                <div class="form-row">
                    <select id="carrier" name="carrier" id="carrier">
                        <option value="default" selected="selected">Choose a carrier</option>
                        <option value="att">AT&T</option>
                        <option value="tmobile">TMobile</option>
                        <option value="verizon">Verizon</option>
                        <option value="sprint">Sprint</option>
                        <option value="googlefi">Google Fi</option>
                        <option value="virginmobile">Virgin Mobile</option>
                        <option value="uscellular">US Cellular</option>
                        <option value="cricket">Cricket</option>
                        <option value="boostmobile">Boost Mobile</option>
                    </select>
                </div>
                <p id="error-carrier"></p>

                <br>

                <div class="form-row">
                    <label for="startdate">Start date, mm/dd/yyyy eg. 05/31/2019</label>
                    <input class="form-control" type="text" placeholder="Start date" id="startdate" name="startdate">
                </div>
                <p id="error-startdate"></p>

                <br>

                <div class="form-row">
                    <label for="waketime">Waking Up Time, eg. 08:30</label>
                    <input class="form-control" type="text" placeholder="Waking Up Time" id="waketime" name="waketime">
                </div>
                <p id="error-waketime"></p>

                <br>

                <div class="form-row ">
                    <label for="sleeptime">Sleeping Time, eg. 22:30</label>
                    <input class="form-control " type="text" placeholder="Sleeping Time" id="sleeptime" name="sleeptime">
                </div>
                <p id="error-sleeptime"></p>

                <br>
            </form>
            <button onClick = "handleSubmit()" class="btn btn-primary " style="float:right ">Submit</button>
            <br><br>
        </div>
    </div>

    <script>
        function handleSubmit() {
            document.getElementById("error-uniqueidentifier").innerHTML = ""
            document.getElementById("error-phonenumber").innerHTML = ""
            document.getElementById("error-carrier").innerHTML = ""
            document.getElementById("error-startdate").innerHTML = ""
            document.getElementById("error-waketime").innerHTML = ""
            document.getElementById("error-sleeptime").innerHTML = ""

            // Check if a valid uniqueidentifier has been entered
            var validSubmission = true
            var val = document.getElementById("uniqueidentifier").value
            if(val.length == 0) {
                console.log("Invalid unique identifier")
                document.getElementById("error-uniqueidentifier").innerHTML = "Invalid unique identifier"
                document.getElementById("error-uniqueidentifier").style.color = "red"
                validSubmission = false
            }
            // Check if phone number is valid
            var phone2 = document.getElementById("phonenumber").value
            var re2 = /(\d{10})/
            var data2 = phone2.match(re2)
            console.log(data2)
            if(data2 == null) {
                console.log("Invalid phone number")
                document.getElementById("error-phonenumber").innerHTML = "Invalid phone number"
                document.getElementById("error-phonenumber").style.color = "red"
                validSubmission = false
            }

            // Check if carrier is valid
            var carrier = document.getElementById("carrier").value
            if(!carrier || carrier === "default") {
                console.log("Invalid carrier choice")
                document.getElementById("error-carrier").innerHTML = "Invalid carrier choice"
                document.getElementById("error-carrier").style.color = "red"
                validSubmission = false
            }

            var date = document.getElementById("startdate").value
            var re3 = /(\d{2})\/(\d{2})\/(\d{4})/
            var data3 = date.match(re3)
            if(data3 == null) {
                console.log("Invalid date")
                document.getElementById("error-startdate").innerHTML = "Invalid date"
                document.getElementById("error-startdate").style.color = "red"
                validSubmission = false
            }
            
            //waketime
            //sleeptime
            var time = document.getElementById("waketime").value
            var re4 = /(\d{2}):(\d{2})/
            var data4 = time.match(re4)
            if(data4 == null) {
                console.log("Invalid wake time")
                document.getElementById("error-waketime").innerHTML = "Invalid wake time"
                document.getElementById("error-waketime").style.color = "red"
                validSubmission = false
            }

            var time2 = document.getElementById("sleeptime").value
            var data5 = time2.match(re4)
            if(data5 == null) {
                console.log("Invalid sleep time")
                document.getElementById("error-sleeptime").innerHTML = "Invalid sleep time"
                document.getElementById("error-sleeptime").style.color = "red"
                validSubmission = false
            }

            if(!validSubmission)
                return
            else
                document.forms["addwakesleep"].submit()
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
        crossorigin="anonymous "></script>
    <script>

    </script>
</body>

</html>