<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<div class="container" style = "width: 100%">
		<br/>
		<input placeholder="Enter unique indentifier" onchange="changeVal(this.value)"></input>
		<br />
		<br />
		<p>How quiet vs noisy is your environment right now?</p>
		<input id = "input1" type="range" min="1" max="7" value="3" style="margin: 0 50%">
		<p id="output1"></p>
		<p>How focused vs distracted do you feel right now?</p>
		<input id = "input2" type="range" min="1" max="7" value="3" style="margin: 0 50%">
		<p id="output2"></p>
		<p>How relaxed vs anxious do you feel right now?</p>
		<input id = "input3" type="range" min="1" max="7" value="3" style="margin: 0 50%">
		<p id="output3"></p>
		<p>How happy vs sad do you feel right now?</p>
		<input id = "input4" type="range" min="1" max="7" value="3" style="margin: 0 50%">
		<p id="output4"></p>
		<button id="startTimer" onClick="startTimer()">
			Start breathing
		</button>
		<br />
		<p id="time"></p>
		<button onClick="reset()">
			Reset
		</button>
		<p id="completed"></p>
		<button id="takeBreath" onClick="takeBreath()">
			Register Breath
		</button>
		<p id="numbreaths"></p>
		<br />
		<br />
		<button id="submit" onClick="submit()">
			Submit
		</button>
		<p id="submitcancelled">
		</p>
		<p id="validsubmission">
		</p>
		<p id="envtest">
		</p>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
		crossorigin="anonymous "></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js "
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
		crossorigin="anonymous "></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
		crossorigin="anonymous "></script>
	<script>
		var globalBreath = []
		var timeDuration = 30
		var timeLeft = timeDuration
		var myVar
		var isTimerDone = false
		var url = "https://pythonserver-neatlabs.herokuapp.com/postbreath"
		//var url = "http://127.0.0.1:5000/postbreath"
		var uniqueIdentifier
		var isTimerRunning = false
		var input1 = document.getElementById("input1")
		var input2 = document.getElementById("input2")
		var input3 = document.getElementById("input3")
		var input4 = document.getElementById("input4")

		var output1 = document.getElementById("output1")
		var output2 = document.getElementById("output2")
		var output3 = document.getElementById("output3")
		var output4 = document.getElementById("output4")

		var data1 = input1.value
		var data2 = input2.value
		var data3 = input3.value
		var data4 = input4.value

		output1.innerHTML = data1
		output2.innerHTML = data2
		output3.innerHTML = data3
		output4.innerHTML = data4

		document.getElementById("submit").disabled = !isTimerDone
		document.getElementById("takeBreath").disabled = !isTimerRunning

		function changeVal(val) {
			uniqueIdentifier = val
		}

		/*function getURL() {
			var url = "http://127.0.0.1:5000/postbreath"
			console.log(globalBreath)
			xmlhttp = new XMLHttpRequest()
			xmlhttp.open("POST", url, true)
			xmlhttp.setRequestHeader("Content-type", "application/json")
			var obj = {
				"breaths": globalBreath,
				"uniqueidentifier": uniqueIdentifier
			}
			xmlhttp.send(JSON.stringify(obj))
			globalBreath = []
			xmlhttp.onreadystatechange = function() { 
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                    console.log(xmlhttp.responseText)
					if(xmlhttp.responseText === "True")
						document.getElementById("validsubmission").innerHTML = "Successfully submitted!"
					else 
						document.getElementById("validsubmission").innerHTML = "You have already submitted for this period or there was an error"
            }
		}*/

		function takeBreath() {
			globalBreath.push(new Date().getTime())
			console.log("Breath taken!")
			document.getElementById("numbreaths").innerHTML = "Number of breaths registered: " + globalBreath.length
		}

		function submit() {
			console.log(globalBreath)
			xmlhttp = new XMLHttpRequest()
			xmlhttp.open("POST", url, true)
			xmlhttp.setRequestHeader("Content-type", "application/json")
			var data = [data1, data2, data3, data4]
			var obj = {
				"breaths": globalBreath,
				"uniqueidentifier": uniqueIdentifier,
				"datapoints": data
			}
			xmlhttp.send(JSON.stringify(obj))
			globalBreath = []
			xmlhttp.onreadystatechange = function() { 
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
                    console.log(xmlhttp.responseText)
					if(xmlhttp.responseText === "True")
						document.getElementById("validsubmission").innerHTML = "Successfully submitted!"
					else 
						document.getElementById("validsubmission").innerHTML = "You have already submitted for this period or there was an error"
            }
		}

		function startTimer() {
			myVar = setInterval(decrementTime, 1000)
			isTimerRunning = true
			updateButtonSettings()
			document.getElementById("submitcancelled").innerHTML = "running!"
		}

		function decrementTime() {
			if (timeLeft == 0) {
				isTimerRunning = false
				isTimerDone = true
				document.getElementById("completed").innerHTML = "finished!"
				clearInterval(myVar)
				updateButtonSettings()
				document.getElementById("submitcancelled").innerHTML = "not running!"
			}
			document.getElementById("time").innerHTML = timeLeft
			timeLeft--
		}

		function reset() {
			clearInterval(myVar)
			isTimerDone = false
			isTimerRunning = false
			timeLeft = timeDuration
			document.getElementById("time").innerHTML = timeLeft
			updateButtonSettings()
			document.getElementById("completed").innerHTML = ""
		}

		function updateButtonSettings() {
			document.getElementById("startTimer").disabled = isTimerRunning || isTimerDone
			document.getElementById("takeBreath").disabled = !isTimerRunning
			document.getElementById("submit").disabled = !isTimerDone
		}

		input1.oninput = function() {
			data1 = this.value
  			output1.innerHTML = data1
		}

		input2.oninput = function() {
			data2 = this.value
  			output2.innerHTML = data2
		}

		input3.oninput = function() {
			data3 = this.value
  			output3.innerHTML = data3
		}

		input4.oninput = function() {
			data4 = this.value
  			output4.innerHTML = data4
		}
	</script>
</body>

</html>